**Market Basket Analysis Project**

In [7]:
# Import the required libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#Dataset URL (CSV) https://bit.ly/30A2gHO 

market_df = pd.read_csv("https://bit.ly/30A2gHO")
market_df.head()

       A  Quantity  Transaction  Store    Product
0  30000         2        93194      6   Magazine
1  30001         2        93194      6  Candy Bar
2  30002         2        93194      6  Candy Bar
3  30003         2        93194      6  Candy Bar
4  30004         2        93194      6  Candy Bar

In [12]:
#Data Processing 

market_df = market_df.groupby(["Quantity","Product"]).size().reset_index(name="Count")
market_df.head()

   Quantity         Product  Count
0         1             Bow    396
1         1       Candy Bar   1379
2         1       Deodorant     12
3         1  Greeting Cards    837
4         1        Magazine   1451

**Frequent Itemset**

In [17]:
#frequent_itemsets = apriori(market_df, min_support=0.01, use_colnames=True)
#frequent_itemsets.head()

**Generating Association Rules**

In [ ]:
rules = association_rules(bs_frequent_itemsets, metric="lift", min_threshold=1)

# Sorting 
rules.sort_values("confidence", ascending = False, inplace = True)

# Previewing the association rules
rules.head()

**Metric Interpretation**